.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #FF0000 0.01%;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}

.navegar {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.navegar a {
  text-decoration: none; 
  color: inherit; 
  margin: 0 1em; 
}

.titulo {
  margin: 0; 
  font-size: 1.5em; 
  color: #ffffff; 
  margin-left: 200px;
  font-size: 30px;
}