.header {
  display: flex;
  align-items: center;
  padding: 1em;
  color: #ffffff;
}

.menuButton {
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 1em;
  font-size: 50px;
}

.menuButton:hover {
  color: #0F3064;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  background-color: #013484 ;
  color: #fff;
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

.closeButton {
  font-size: 2.5em;
  cursor: pointer;
  align-self: flex-end;
  margin: 10px;
  margin-right: 300px;
  margin-top: -50px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.navItem {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
}

.navItem:hover {
  color: #ddd;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}

.titulo {
  margin: 0;
  font-size: 1.5em;
  color: #ffffff;
  font-size: 30px;
  margin-left: 1600px;
}
