.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #FF0000 0.01%;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}

.navegar {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  margin-left: 800px;
}

.navegar a {
  text-decoration: none;
  color: inherit;
  margin: 0 1em;
}

.titulo {
  margin: 0;
  font-size: 1.5em;
  color: #ffffff;
  font-size: 30px;
}

.titulo:hover {
 color: #710000c5;
  transition: 0.5s;
  opacity: 0.9;
}