.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #750202;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 150px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #FF0000 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 55px;
  }

  .Cards {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}