.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #e7e9e8;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  height: auto; /* Permite que o rodapé se ajuste ao conteúdo */
  width: 100%;
  margin-top: 20px; /* Ajusta a margem do rodapé */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgba(37, 37, 143, 0.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 0px;
}

.Cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  padding: 0 20px;
  margin-bottom: 80px;
}

.manutencao,
.lubrificacao {
  width: 413px;
  height: 527px;
  top: 527px;
  gap: 0px;
  border-radius: 10px 10px 10px 10px;
  opacity: 0px;
  background: #0f3246;
  margin-left: 50px;
  margin-top: 100px;
}

.manutencao:hover,
.lubrificacao:hover {
  background-color: #4e565c;
  transition: 0.5s;
  opacity: 0.7;
}

.ferramentas,
.oleo {
  width: 300px;
  height: 200px;
  top: 90px;
  left: 90px;
  gap: 0px;
  opacity: 0px;
  margin-left: 50px;
  margin-top: 120px;
}

.titulo1,
.titulo2 {
  font-size: 2rem;
  color: white;
  margin-top: 60px;
  margin-left: 100px;
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
  .Cards {
    display: flex;
    flex-direction: column; /* Alinha os cartões em coluna em telas menores */
    align-items: center; /* Centraliza os cartões */
    margin-top: 50px;
  }

  .manutencao,
  .lubrificacao {
    width: 200px; /* Aumenta a largura dos cartões em telas menores */
  }

  .titulo1,
  .titulo2 {
    font-size: 1.2rem; /* Ajusta o tamanho da fonte dos títulos */
  }
}

/* Estilos para telas menores que 480px */
@media (max-width: 480px) {
  .manutencao,
  .lubrificacao {
    width: 200px; /* Largura total em dispositivos muito pequenos */
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
  }
}

