.footerText {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.875rem;
    color: white;
    margin-top: 0.rem;

}

.footerIcon {
    padding: 1.25rem;
    justify-content: center;
    display: flex;
    gap: 1.25rem;
    margin-top: -25px;
    font-size: 20px;
}

.footerLogo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footerContent {
    background: #0050ceee;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}



@media only screen and (max-width: 1024px) {
    .footerText {
        padding: 1.25rem;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1.875rem;
    }

    .footerIcon {
        padding: 1.25rem;
        justify-content: center;
        display: flex;
        gap: 1.25rem;
    }

    .footerContent {
        background-color: #1e2a39;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}
