.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #3737b1;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 20px; /* Ajusta a margem do rodapé */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: rgba(255, 0, 0, 0.01); /* Cor de fundo com transparência */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.titulos {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.titleContainer {
    width: 100%; /* Ajusta para ocupar toda a largura */
    max-width: 926px; /* Define uma largura máxima */
    margin-top: 35px;
    color: #FFFFFF;
}

.Card {
    width: 90%; /* Largura responsiva */
    max-width: 750px; /* Largura máxima */
    height: 450px; /* Altura fixa */
    margin: 50px 0; /* Margem vertical */
    border-radius: 10px;
    background: #3737b1; /* Cor de fundo com transparência */
}

.text1, .text2, .text3 {
    width: 100%; /* Ajusta a largura para ocupar toda a largura disponível */
    margin: 10px 0; /* Margens verticais */
    padding: 10px;
    color: #FFFFFF;
}

.text3 {
    font-weight: bold;
    font-size: 15px; /* Ajusta o tamanho da fonte */
}

.imagem {
    width: 50px;
    height: 50px;
    margin-top: 35px;
}

.informacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Ajusta para ocupar toda a largura */
    max-width: 600px; /* Largura máxima */
    margin: 10px 20px; /* Margens laterais */
    color: #FFFFFF;
}

.informacaoText {
    font-size: 15px;
}

@media (max-width: 768px) {
    .Card {
        width: 95%; /* Ajusta a largura dos cartões em telas menores */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
    }

    .titulos {
        font-size: 24px;
        margin-left: 20px;
        /* Ajusta o tamanho da fonte em telas menores */
    }

    .text1, .text2, .text3 {
        font-size: 14px; /* Ajusta o tamanho da fonte em telas menores */
    }
    .title{
        margin-left: 20px;

    }
    .informacao {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }
}

@media (max-width: 480px) {
    .titulos {
        font-size: 20px;
        margin-left: 20px;
        /* Ajusta ainda mais o tamanho da fonte */
    }
    .title{
        margin-left: 20px;

    }

    .text1, .text2, .text3 {
        font-size: 12px; /* Ajusta o tamanho da fonte para dispositivos muito pequenos */
    }
}
