.sidebar {
    color: #fff;
    background-color: #0f3246;
  }

.header {
  background-color: #0f3246;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  color: #fff;
}

.title {
  margin-right: 30px;
  margin-top: 20px;
}

.titulo {
  margin: 0;
}

.links {
  display: flex;
  gap: 20px;
  margin-right: 50px;
  color: #fff;
  font-size: 20px;
}

.link {
  margin: 0;
}
