.container {
    width: 100%;
    height: 100%;
  }
  
  .footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #3737b1;
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 200px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #25258f 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 0px;
  }


.titulo {
    width: 500px;
    height: 44px;
    left: 514px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
    margin-left: 120px;
    font-size: 25px;
}

.backbutton{
    background-color: #013484;
    color: #fff;
    border: none;
    font-size: 1em;
    border-radius: 100%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Card {
    width: 800px;
    height: 920px;
    top: 2463.31px;
    left: 265.17px;
    margin-left: 580px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #03183A 53%;
    margin-top: 50px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 80px;
}

.inputWrapper {
    position: relative;
    margin-left: 80px;
}

.input {
    width: 400px;
    margin-left: 120px;
    margin-top: 40px;
    padding: 0.75em;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
    background-color: #013484;
    border-bottom: 2px solid #013484;
}

.input:focus {
    border-color: #013484;
}

.input::placeholder {
    color: #999;
}

.imagePreview {
    margin-top: 15px;
}

.imagePreview img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.title {
    color: #013484 ;
    font-size: 60px;
    margin-left: 690px;
    margin-top: 40px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttonText {
    background-color: #013484;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
    margin-left: 200px;
}

.buttonText:hover {
    background-color: #03183A;
}

.buttonText:active {
    transform: scale(0.95);
}