.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, #FF0000 0.01%, #BC0303 41.49%, #BC0303 41.5%, #750202 99.99%, #BC0303 100%);
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #750202;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #FF0000 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 55px;
}

.Cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Nardini,
.Romi {
    width: 413px;
    height: 527px;
    top: 527px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #71000087;
    margin-left: 50px;
    margin-top: 100px;
}

.Nardini:hover {
    background-color: #BC0303;
    transition: 0.5s;
    opacity: 0.7;
}

.Romi:hover {
    background-color: #BC0303;
    transition: 0.5s;
    opacity: 0.7;
}

.nardini {
    width: 320px;
    height: 210px;
    top: 86px;
    left: 74px;
    gap: 0px;
    opacity: 0px;
    margin-left: 50px;
    margin-top: 120px;
}

.romi {
    width: 350px;
    height: 210px;
    top: 86px;
    left: 74px;
    gap: 0px;
    opacity: 0px;
    margin-left: 30px;
    margin-top: 120px;
}