.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Imgs {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding: 0 20px; 
}

.logoSenai  {
  width: 100vh;
  height: 40vh;
  margin-left: 20px;
  margin-top: 340px;
}

.tornoImg {
  width: 110vh;
  height: 90vh;
  margin-right: -100px;
  margin-top: 90px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: #FF0000 0.01%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 80px;
}