.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Imgs {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding: 0 20px; 
}

.logoSenai {
  width: 100vh;
  height: 40vh;
  margin-left: 20px;
  margin-top: 20px; /* Ajuste para ficar mais próximo do cabeçalho */
}

.tornoImg {
  width: 110vh;
  height: 90vh;
  margin-right: -200px;
  margin-top: 20px; /* Ajuste para ficar mais próximo do cabeçalho */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #750202;
  color: white;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: rgba(37, 37, 143, 0.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0 20px; /* Adiciona um pouco de padding */
}

@media (max-width: 768px) {
  .Imgs {
    flex-direction: column; /* Muda a direção das imagens para coluna em telas menores */
    align-items: center; /* Centraliza as imagens */
  }

  .logoSenai {
    width: 80vw; /* Ajusta a largura da imagem para 80% da largura da viewport */
    height: auto; /* Mantém a proporção da imagem */
    margin: 20px 0; /* Ajusta as margens */
  }

  .tornoImg {
    width: 90vw; /* Ajusta a largura da imagem para 90% da largura da viewport */
    height: auto; /* Mantém a proporção da imagem */
    margin: 20px 0; /* Ajusta as margens */
  }


  .footer {
    flex-direction: column; /* Muda a direção do rodapé para coluna em telas menores */
    align-items: center; /* Centraliza os itens no rodapé */
  }
}

@media (max-width: 480px) {
  .logoSenai {
    width: 90vw; /* Ajusta ainda mais a largura para dispositivos muito pequenos */
  }

  .tornoImg {
    width: 95vw; /* Ajusta ainda mais a largura para dispositivos muito pequenos */
  }

  .button {
    height: 80px; /* Reduz a altura do botão em telas menores */
    margin-top: 30px; /* Ajusta a margem superior do botão */
  }
}
