.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.CardsRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
}

.Corretiva,
.Preventiva {
    width: 413px;
    height: 527px;
    top: 527px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #71000087;
    margin-left: 20px;
    margin-top: 100px;
}

.titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.preventiva {
    width: 207px;
    height: 192px;
    top: 95px;
    left: 573px;
    gap: 0px;
    opacity: 0px;
    margin-left: 105px;
    margin-top: 80px;
}

.corretiva {
    width: 207px;
    height: 192px;
    top: 95px;
    left: 573px;
    gap: 0px;
    opacity: 0px;
    margin-left: 105px;
    margin-top: 80px;
}

.titulo2 {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-left: 80px;
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #750202;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #FF0000 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.Corretiva:hover {
    background-color: #BC0303;
    transition: 0.5s;
    opacity: 0.7;
}

.Preventiva:hover {
    background-color: #BC0303;
    transition: 0.5s;
    opacity: 0.7;
}