.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(180deg, #FF0000 0.01%, #BC0303 41.49%, #BC0303 41.5%, #750202 99.99%, #BC0303 100%);
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #750202;
    color: white;
    width: 100%;
    margin-top: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #FF0000 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: -10px;
}

.titulo {
    width: 534px;
    height: 44px;
    top: 354px;
    left: 514px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
    margin-left: 220px;
}

.CardsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    max-width: 100%;
}

.Card {
    width: 60%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #71000087;
    margin-top: 50px;
}

.ImgTorno {
    width: 60%;
    height: 60%;
    border-radius: 10px 10px 10px 10px;
}