.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #750202;
    color: white;
    width: 100%;
    margin-top: 235px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #FF0000 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: -10px;
}

.titulo {
    font-size: 40px;
    color: #ffffff;
    margin-top: 5px;
}

.subtitulo {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 3px;
}

.CardsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    max-width: 100%;
}

.Card {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #71000087;
    margin-top: 50px;
    padding: 20px;
}

.ImgTorno {
    width: 60%;
    height: 60%;
    border-radius: 10px 10px 10px 10px;
}


.buttonText {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buttonText:hover {
    background-color: #750202;
}

.buttonText:active {
    transform: scale(0.95);
}