.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.manualM,
.manualE,
.Fds,
.Pls {
    width: 413px;
    height: 527px;
    top: 527px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: rgba(0, 57, 150, 0.93);
    margin-right: 100px;
    margin-left: 90px;
    margin-top: 109px;
}

.engrenagens {
    width: 215px;
    height: 210px;
    top: 86px;
    left: 74px;
    gap: 0px;
    opacity: 0px;
    margin-left: 100px;
    margin-top: 80px;
}

.titulo {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.eletrica {
    width: 207px;
    height: 192px;
    top: 95px;
    left: 573px;
    gap: 0px;
    opacity: 0px;
    margin-left: 105px;
    margin-top: 80px;
}

.fds {
    width: 207px;
    height: 192px;
    top: 95px;
    left: 573px;
    gap: 0px;
    opacity: 0px;
    margin-left: 105px;
    margin-top: 80px;
}

.pls {
    width: 207px;
    height: 192px;
    top: 95px;
    left: 573px;
    gap: 0px;
    opacity: 0px;
    margin-left: 105px;
    margin-top: 80px;
}

.titulo2 {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-left: 80px;
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.manualM:hover {
    background-color: rgba(0, 57, 150, 0.603);
    transition: 0.5s;
    opacity: 0.7;
}

.manualE:hover {
    background-color: rgba(0, 57, 150, 0.603);
    transition: 0.5s;
    opacity: 0.7;
}

.Fds:hover {
    background-color: rgba(0, 57, 150, 0.603);
    transition: 0.5s;
    opacity: 0.7;
}

.Pls:hover {
    background-color: rgba(0, 57, 150, 0.603);
    transition: 0.5s;
    opacity: 0.7;
}

@media (max-width: 1024px) {

    .Cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
    }

    .Fds,
    .Pls {
        width: 380px;
    }

    .fds,
    .pls {
        width: 180px;
    }
}

@media (max-width: 768px) {

    .Cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Fds,
    .Pls {
        width: 380px;
    }

    .fds,
    .pls {
        width: 180px;
    }
}

@media (max-width: 425px) {

    .Cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Fds,
    .Pls {
        width: 380px;
    }

    .fds,
    .pls {
        width: 180px;
    }
}
