.page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}
.card{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    height: 300px;
    flex-wrap: wrap;
    margin: 50px;
    background: #b82a2a87;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.img{
    max-width: 350px;
    margin: 0 auto;
    display: block;
    padding: 0;
    margin-bottom: 50px;
}
.img2{
    max-width: 150px;
    margin: 0 auto;
    display: block;
    padding: 0;
    margin-bottom: 50px;
}
.img3{
    width: 150px;
    margin: 0 auto;
    display: block;
    padding: 0;
    margin-bottom: 50px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}