.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #3737b1;
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 200px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #25258f 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 0px;
  }


.Cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Nardini,
.Romi {
    width: 413px;
    height: 527px;
    top: 527px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: rgba(0, 57, 150, 0.93);
    margin-left: 50px;
    margin-top: 100px;
}
.tituloManutencao{
    font-size: 2rem;
    color: white;
    margin-top: 60px;
    margin-left: 100px;
}
.Nardini:hover {
    background-color: #013484;
    transition: 0.5s;
    opacity: 0.7;
}

.Romi:hover {
    background-color: #013484;
    transition: 0.5s;
    opacity: 0.7;
}

.nardini {
    width: 300px;
    height: 200px;
    top: 90px;
    left: 90px;
    gap: 0px;
    opacity: 0px;
    margin-left: 50px;
    margin-top: 120px;
}

.romi {
    width: 300px;
    height: 200px;
    top: 90px;
    gap: 0px;
    opacity: 0px;
    margin-left: 50px;
    margin-top: 120px;
}

.titulo {
    font-size: 2rem;
    color: white;
    margin-top: 60px;
    margin-left: 35px;
}

.tituloMaquinas {
    font-size: 2rem;
    color: white;
    margin-top: 60px;
    margin-left: 130px;
}
.columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}