.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #3737b1;
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 200px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #25258f 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 0px;
  }
.title{
    font-size: 50px;
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    }

.titulos{
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #FF0000 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.titleContainer {
    width: 926px;
    margin-top: 35px;
    height: 37px;
    top: 210px;
    left: 288px;
    opacity: 0px;
    color: #FFFFFF;
    font-size: 80px;
}

.Card {
    width: 750px;
    height: 550px;
    margin-top: 140px;
    top: 1203.85px;
    left: 160.5px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #71000087;
}
.text1 {
    width: 700px;
    height: 240px;
    margin-top: 20px;
    padding: 10px;
    margin-right: 20px;
    top: 575px;
    left: 249px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    font-size: 20px;

}

.text2 {
    width: 700px;
    height: 240px;
    margin-top: -90px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
    top: 575px;
    left: 249px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
    font-size: 20px;
}

.text3 {
    width: 700px;
    height: 240px;
    margin-top: -150px;
    padding: 10px;
    margin-right: 20px;
    font-weight: bold;
    top: 575px;
    left: 249px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF; 
    font-size: 20px;
    
}

.imagem {
    width: 50px;
    height: 50px;
    margin-top: 35px;
    margin-left: -10px;

}

.informacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 598px;
    height: 76px;
    top: 1498px;
    margin-top: 7px;
    margin-left: 200px;
    left: 577px;
    opacity: 0px;
    color: #FFFFFF;
    
}
.informacaoText{
    margin-top: 45px;
    font-size: 30px;
    margin-right: 270px;
}
