.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #3737b1;
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 200px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #25258f 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 0px;
  }

.title{
    font-size: 40px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 104px;
    margin-top: 20px;
    }

.titulos{                                   
    font-size: 26px;
    color: #FFFFFF;
    margin-bottom: -20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 25px;
    }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.titleContainer {
    width: 926px;
    margin-top: 35px;
    top: 210px;
    left: 288px;
    opacity: 0px;
    color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    font-size: 80px;
    margin-right: 35px;
}
.textos1{
    width: 700px;
    height: 240px;
    margin-top: -20px;
    padding: 10px;
    margin-right: 20px;
    opacity: 0px;
    color: #FFFFFF;
    font-size: 19px;
}
.textos{
    width: 700px;
    height: 240px;
    margin-top: 15px;
    padding: 10px;
    margin-right: 20px;
    opacity: 0px;
    color: #FFFFFF;
    font-size: 20px;
}

.Card {
    width: 750px;
    height: 800px;
    margin-top: 100px;
    top: 1203.85px;
    left: 160.5px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #0f3246;
}
.text1 {
    width: 700px;
    height: 240px;
    margin-top: 15px;
    padding: 10px;
    margin-right: 20px;
    top: 575px;
    left: 249px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;

}

.text2 {
    width: 700px;
    height: 240px;
    margin-top: -50px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    top: 575px;
    left: 249px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
}

.text3 {
    width: 700px;
    height: 240px;
    margin-top: -70px;
    padding: 10px;
    margin-right: 20px;
    font-weight: bold;
    top: 575px;
    left: 249px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF; 
    font-size: 30px;
    
}

.imagem {
    width: 50px;
    height: 50px;
    margin-top: 35px;
    margin-left: -10px;

}

.informacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 598px;
    height: 76px;
    top: 1498px;
    margin-top: -100px;
    margin-left: 200px;
    left: 577px;
    opacity: 0px;
    color: #FFFFFF;
    
}
.informacaoText{
    margin-top: 40px;
    font-size: 25px;
    margin-right: 330px;
}

@media (max-width: 768px) {

    .titleContainer {
        width: 100%;
        margin-top: 5px;
        height: 37px;
        top: 210px;
        margin-left: -230px;
        opacity: 0px;
        color: #FFFFFF;
        font-size: 70px;
        background-color: #0f3246;
    }

    .title {
        font-size: 25px;
        margin-right: -90px ;
    }

   .titulos {
        font-size: 20px;
        margin-right: -90px ;
    }

    .textos1 {
        width: 100%;
        height: 240px;
        margin-top: -20px;
        padding: 10px;
        margin-right: 20px;
        opacity: 0px;
        color: #FFFFFF;
        font-size: 15px;
    }

    .textos {
        width: 100%;
        height: 240px;
        margin-top: 25px;
        padding: 10px;
        margin-right: 20px;
        opacity: 0px;
        color: #FFFFFF;
        font-size: 15px;
    }

    .Card {
        width: 100%;
        height: 750px;
        margin-top: 100px;
        top: 1203.85px;
        left: 160.5px;
        border-radius: 10px 10px 10px 10px;
        opacity: 0px;
        background-color:#0f3246;
    }

    .text1 {
        width: 100%;
        height: 240px;
        margin-top: 20px;
        padding: 10px;
        margin-right: 20px;
        top: 575px;
        left: 249px;
        gap: 0px;
        opacity: 0px;
        color: #FFFFFF;
        font-size: 15px;
    
    }

    .text2 {
        width: 100%;
        height: 240px;
        margin-top: -30px;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 50px;
        top: 575px;
        left: 249px;
        gap: 0px;
        opacity: 0px;
        color: #FFFFFF;
        font-size: 15px;
    }

    .text3 {
        width: 100%;
        height: 240px;
        margin-top: -70px;
        padding: 10px;
        margin-right: 20px;
        font-weight: bold;
        top: 575px;
        left: 249px;
        gap: 0px;
        opacity: 0px;
        color: #FFFFFF; 
        font-size: 20px;
        
    }

    .informacao {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        top: 1498px;
        margin-top: -110px;
        margin-left: 200px;
        left: 577px;
        opacity: 0px;
        color: #FFFFFF;
        
    }

    .informacaoText {
        margin-top: 90px;
        font-size: 35px;
        margin-right: 10px;
        margin-left: -350px;
    }
   }

    

