@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

.container {
    width: 100%;
}

.containerlogin {
    width: 40%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #F5F5F5;
    margin-left: 400px;
    margin-top: 200px;
  }

  .wraplogin {
    width: 750px;
    height: 90vh;
    margin-top: -800px; 
    margin-bottom: 3000px;
    background-color: #0f3246;
    border-radius: 8px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(109, 83, 83, 0.2);
  }

  .loginform {
    width: 100%;
  }

  .loginformtitle {
    font-family: Nunito, sans-serif;
    display: block;
    font-size: 35px; 
    color: azure;
    line-height: 1.2;
    text-align: center;
    margin-top: -10px;
    white-space: nowrap; 
  }

  .loginformtitle img {
    display: block;
    margin: 0 auto 10px; 
    width: 200px;
  }