.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(180deg, #FF0000 0.01%, #BC0303 41.49%, #BC0303 41.5%, #750202 99.99%, #BC0303 100%);
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #750202;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: #FF0000 0.01%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.Card {
    width: 539px;
    height: 549px;
    top: 215px;
    left: 450px;
    gap: 0px;
    opacity: 0px;
    background: #71000087;
    margin-top: 80px;
    border-radius: 10px;
}

.logoSenai {
    width: 300px;
    height: 100px;
    margin-left: 120px;
    margin-top: 20px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inputWrapper {
    position: relative;
}

.input {
    width: 300px;
    margin-left: 120px;
    margin-top: 60px;
    padding: 0.75em;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
    background-color: #750202;
    border-bottom: 2px solid #750202;
}

.input:focus {
    border-color: #FF0000;
}

.input::placeholder {
    color: #999;
}

.toggleButton {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.5em;
    outline: none;
    margin-left: -50px;
    margin-top: 10px;
}

.toggleButton:hover {
    color: #FF0000;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.buttonText {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buttonText:hover {
    background-color: #750202;
}

.buttonText:active {
    transform: scale(0.95);
}

.buttonText2 {
    background-color: #750202;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

}

.buttonText2:hover {
    background-color: #FF0000;
}

