@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

.container {
    width: 100%;
}

.containerlogin {
    width: 40%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #F5F5F5;
    margin-left: 400px;
    margin-top: 200px;
  }

  .wraplogin {
    width: 750px;
    height: 90vh;
    margin-top: -800px; 
    margin-bottom: 3000px;
    background-color: #0f3246;
    border-radius: 8px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(109, 83, 83, 0.2);
  }

  .loginform {
    width: 100%;
  }

  .loginformtitle {
    font-family: Nunito, sans-serif;
    display: block;
    font-size: 35px; 
    color: azure;
    line-height: 1.2;
    text-align: center;
    margin-top: -10px;
    white-space: nowrap; 
  }

  .loginformtitle img {
    display: block;
    margin: 0 auto 10px; 
    width: 200px;
  }
  .wrapinput {
    width: 420px;
    position: relative;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, gray, #09455f) 1;
    margin-bottom: 37px;
    margin-top: 20px;
    background-color: #0f3246;
    padding: 10px;
    border-radius: 5px;
    color: #0f3246;
  }
  .input {
    width: 100%;
    height: 50px;
    font-size: 300px;
    color: #0f3246;
    line-height: 1.2;
    border: none;
    display: block;
    background-color: #0f3246;
    padding: 0 5px;
    font-family: Nunito, sans-serif;
  }
  .focusinput {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #0f3246;
    font-family: Nunito, sans-serif;
    font-size: 500px;
  }
  .focusinput::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: #6a7dfe;
    background: linear-gradient(to left, #0e3a44, #290348);
  }
  .focusinput::after {
    font-family: Nunito, sans-serif;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
  }
  .input:focus {
    outline: 0;
  }
  .input:focus+.focusinput::after {
    top: -15px;
  }
  .input:focus+.focusinput::before {
    width: 100%;
  }
  .has-val+.focusinput::after {
    top: -15px;
  }
  .has-val+.focusinput::before {
    width: 100%;
  }
  .containerloginformbtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
  }
  .loginformbtn {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #2014bd;
    background: linear-gradient(to right, rgb(106, 102, 102), #0a3c51);
    margin-top: 15px;
  }
  .loginformbtn:hover {
    cursor: pointer;
  }
  .toggleButton {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #dee1e4;
    margin-left: 90px;
    font-size: 20px;
  }
  .toggleButton:hover {
    color: #ffffff;
  }
  .img {
    width: 180px;
    height: 100px;
    margin: 0 auto;
    margin-top: -50px;
    margin-left: 105px;
  }
  .card {
    background-color: #0f3246;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .footer {
    position: relative; 
    bottom: 0;
    width: 100%;
    background-color: #0f3246;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: -263px; 
  }
  .sidebar {
    height: 1000vh;
  }    